<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="quote" type="text" name="input" value="" placeholder="Enter your favorite quote here:">
                    <input id="author" type="text" name="input" value="" placeholder="Enter the quote's author here:">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div></div>
                <div id="results"></div>
            </section>
        </main>

    </body>
</html>
